@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url('angkatan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    overflow-y: auto;
    margin: auto;
    width: 100%;
}

/* Styling Navbar */
.navbar {
    position: absolute;
    width: 100vw;
    background: rgb(48, 48, 251);
    padding: 10px 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 10%;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row; /* Susun menu dari kiri ke kanan */
    padding: 10px;
    margin-left: 62%;
    margin-top: -1%;
}

.navbar ul button {
    margin-right: 5%;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 8px;
    transition: background 0.3s;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    background-color: rgb(48, 48, 251);
    color: white;
    border-radius: 20px;
}

.navbar ul button:hover {
    background-color: white;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}

/* Styling Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .btn {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background: none;
    text-align: left;
    border: none;
    cursor: pointer;
}

.dropdown-menu .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dashboard */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dashboard-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.1);
    text-align: center;
    margin-top: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

h1 {
    color: #003366;
    font-weight: bold;
}

p {
    color: #003366;
    font-weight: bold;
    margin-top: 1px;
}

/* Momen Seru */
.momen-wrapper {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 600%;
}

.momen-seru {
    background: rgba(251, 129, 48, 0.7);
    padding: 0px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100vh;
    align-self: flex-start;
}

.momen-seru h2 {
    color: #000291d0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.momen-seru img {
    width: 300px;
    height: 300px;
}